
	<div class="col-sm-9">
		<label for="">Movie summary: </label>
		<p class="well">{{vm.movies.Plot}}</p>
	</div>

	<div class="col-sm-9" id="detailInfoBox">  
		<div class="panel panel-info">
			<div class="panel-heading"> {{vm.movies.Title}}  |  Rated:  {{vm.movies.Rated}}</div>
			<div class="panel-body">
			<p>{{vm.movies.Runtime}}</p>
			<p>IMDB Rating: {{vm.movies.imdbRating}}</p>
			<p>Released: {{vm.movies.Released}}</p>
			<p>Director(s): {{vm.movies.Director}}</p>
			<p>Writen by: {{vm.movies.Writer}}</p>	
			<p>Actors: {{vm.movies.Actors}}</p>
			<p>Awards: {{vm.movies.Awards}}</p>
			</div>
				    	
		</div>

		<button onclick="history.back()">Back to search</button>

	</div>		

	<!-- JK: you have the option of using ui-sref="state1" as an alternative to onclick="history.back()" -->
	<!--BL: -->
	<!--SA: good detail page-->
